
.btn-custom {
  color: #fff;
  background-color: rgb(22, 160, 133);
  border-color: rgb(22, 160, 133);
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  color: rgb(0, 0, 0);
}

.bg-peer {
  /* background-color: #2c3e50; */
  background-color: rgb(22, 160, 133);;
}

/* LOGIN */
.login-container {
  float: left;
  width: 100%;
  min-height: 100%;
  font-weight: 500;
}

.login-container .login-box {
  width: 500px;
  margin: 0px auto;
  padding-top: 50px;
}

.login-container .login-box .login-shadowbox { 
  display:inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-container .login-box .login-header {
  /* font-size: 19px;
  font-weight: 300;
  margin-bottom: 20px; */
  float: left;
  width: 100%;
  padding: 30px;
  background-color: rgb(22, 160, 133);
  color: white;
  display:inline-block;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.login-container .login-box .login-header .login-header-left {
  font-size: 20px;
  width: 100%;
  float: left;
}

/* .login-container .login-box .login-header .login-header-right {
  width: 100%;
  float: left;
  font-size: 20px;
} */

.login-container .login-box .login-body {
  width: 100%;
  float: left;
  padding: 20px;  
  background-color: #ECF0F1;

  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login-container .login-box .login-body a {
  color: rgb(22, 160, 133);
}

/* END LOGIN */

/* REGISTRATION */
.registration-container {
  float: left;
  width: 100%;
  min-height: 100%;
  font-weight: 500;
}

.registration-container .registration-box {
  width: 500px;
  margin: 0px auto;
  padding-top: 50px;
}

.registration-container .registration-box .registration-shadowbox { 
  display:inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.registration-container .registration-box .registration-header {
  /* font-size: 19px;
  font-weight: 300;
  margin-bottom: 20px; */
  float: left;
  width: 100%;
  padding: 30px;
  background-color: rgb(22, 160, 133);
  color: white;
  display:inline-block;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.registration-container .registration-box .registration-header .registration-header-left {
  font-size: 20px;
  width: 100%;
  float: left;
}

/* .registration-container .registration-box .registration-header .registration-header-right {
  width: 100%;
  float: left;
  font-size: 20px;
} */

.registration-container .registration-box .registration-body {
  width: 100%;
  float: left;
  padding: 20px;  
  background-color: #ECF0F1;

  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.registration-container .registration-box .registration-body a {
  color: rgb(22, 160, 133);
}

/* END REGISTRATION */

/* PERSONAL INFORMATION */
.personalInfo-container {
  float: left;
  width: 100%;
  min-height: 100%;
  font-weight: 500;
}

.personalInfo-container .personalInfo-box {
  width: 500px;
  margin: 0px auto;
  padding-top: 50px;
}

.personalInfo-container .personalInfo-box .personalInfo-shadowbox { 
  display:inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.personalInfo-container .personalInfo-box .personalInfo-header {
  /* font-size: 19px;
  font-weight: 300;
  margin-bottom: 20px; */
  float: left;
  width: 100%;
  padding: 30px;
  background-color: rgb(22, 160, 133);
  color: white;
  display:inline-block;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.personalInfo-container .personalInfo-box .personalInfo-header .personalInfo-header-left {
  font-size: 20px;
  width: 100%;
  float: left;
}

/* .personalInfo-container .personalInfo-box .personalInfo-header .personalInfo-header-right {
  width: 100%;
  float: left;
  font-size: 20px;
} */

.personalInfo-container .personalInfo-box .personalInfo-body {
  width: 100%;
  float: left;
  padding: 20px;  
  background-color: #ECF0F1;

  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.personalInfo-container .personalInfo-box .personalInfo-body a {
  color: rgb(22, 160, 133);
}

/* END PERSONAL INFORMATION */





@media only screen and (max-width: 768px) {
  [class^='col-xs-'],
  [class^='col-sm-'],
  [class^='col-md-'],
  [class^='col-lg-'] {
    margin-bottom: 10px;
  }
  /* LOGIN */
  .login-container {
    padding: 0px 10px;
  }
  .login-container .login-box {
    padding-top: 10px;
    width: 100%;
  }
  /* END LOGIN */

  /* REGISTRATION */
  .registration-container {
    padding: 0px 10px;
  }
  .registration-container .registration-box {
    padding-top: 10px;
    width: 100%;
  }
  /* END REGISTRATION */

  /* PERSONAL INFORMATION */
  .personalInfo-container {
    padding: 0px 10px;
  }
  .personalInfo-container .personalInfo-box {
    padding-top: 10px;
    width: 100%;
  }
  /* END PERSONAL INFORMATION*/
}


.navbar-peer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-peer .nav-link {
  padding-right: 0;
  padding-left: 10px;
}

.navbar-peer .navbar-brand {
  color: #fff;
  font-weight: bold;
}

.navbar-peer .navbar-brand:focus,
.navbar-peer .navbar-brand:hover {
  color: #fff; 
}

.navbar-peer .navbar-nav .nav-link {
  color: #fff; 
}

.navbar-peer .navbar-nav .nav-link:focus,
.navbar-peer .navbar-nav .nav-link:hover {
  font-weight: 500;
  color: #212529;
  background-color: #fff;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.navbar-peer .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, .25)
}

.navbar-peer .navbar-toggler {
  color: rgba(255, 255, 255, .5);
  border-color: rgba(255, 255, 255, .1)
}

.navbar-peer .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-peer .navbar-text {
  color: rgba(255, 255, 255, .5)
}

.navbar-peer .navbar-text a {
  color: #fff
}

.navbar-peer .navbar-text a:focus,
.navbar-peer .navbar-text a:hover {
  color: #fff;
}


/* .peer-dropdown :focus,
.navbar-peer .navbar-nav .nav-link:hover {
  font-weight: 500;
  color: #212529;
  background-color: #fff;


  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
} */

.peer-dropdown a {
  color: #fff
}

.peer-dropdown a:focus,
.peer-dropdown a:hover {
  color: #fff
}


